[Unit]
Description= Mera Pumps Control Service
After=network.target
StartLimitIntervalSec=1

[Service]
Type=simple
Restart=always
RestartSec=2
User=pi
ExecStart=/usr/bin/python3 /home/git/Mera_Pumps_Control/async.py

[Install]
WantedBy=multi-user.target
